<!-- <ngb-tabset> -->
  <!-- <ngb-tab title="Simple">
    <ng-template ngbTabContent> -->
      <div class="container">
        <div class="table">
          <table class="table-responsive" border=0 cellpadding=5 >
            <thead>
              <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              
                <ng-container *ngIf="items">
                    <tr >
                    <td  width=120   >
                          
                        <div  *ngFor="let item of items"  [@imageState]='item.state' [dragula]='"bag-items"'>

                            <div>
                            <img [class]="imgExpanded"   [@imageState]='item.state'
                            (mouseover)="item.toggleState()"
                            (mouseout)="item.toggleState()"
                            [id]="item.Id" [src]="item.Source" alt="">
                            </div>
                            
                            <div *ngIf="item.Id %3  == 0">
                              <br />
                            </div>
                          </div>
                    </td>
                   
                  </tr> 
                </ng-container>
              
            </tbody>
          </table>
        </div>
        </div>
    <!-- </ng-template>
  </ngb-tab> -->
<!-- </ngb-tabset> -->




{{msg}}
