<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table> | async -->
  <!-- <app-table-row></app-table-row> -->
  <div class="container">

  <div class="component-style table-component" *ngIf="images">
    <table>
      <tr>
        <th *ngFor="let c of columns"></th>
      </tr>
      <tr class="component-style table-row-component" *ngFor="let img of images" app-table-row [image]="img" [columns]="columns"></tr>
      
    </table>
  </div>
</div>